.wrapper {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  height: 100%;
  column-gap: var(--spacing-xs);
  row-gap: var(--spacing-xl);
  grid-template-columns: repeat(4, 1fr);
  padding: var(--spacing-md) var(--spacing-xl);
}