.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 110px auto;
  grid-template-areas: 
    "header"
    "content";
}

.header {
  grid-area: header;
  background: rgba(var(--color-white), 0.9);
  padding: 0 var(--spacing-md);
  border-bottom: 4px solid rgba(var(--color-primary), 1);
}

.headerContent {
  display: flex;
  align-items: center;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
}

.logoWrapper {
  flex-basis: 25%;
  position: relative;
  cursor: pointer;
}


.content {
  box-sizing: border-box;
  grid-area: content;
}