.wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.title {
    margin-bottom: var(--spacing-md);
    color: rgba(var(--color-black), 1);
    font-size: var(--fs-xl);
    line-height: 1.3em;
}

.description {
    margin-bottom: var(--spacing-md);
    color: rgba(var(--color-black), 0.8);
    font-size: var(--fs-xl);
    font: 1em/1.65em 'Public Sans', 'Arial', sans-serif;
}

.imageWrapper {
    position: relative;
    width: 800px;
    max-width: 80%;
}

.imageContainer {
    margin: 12px auto;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 160px;
    width: 160px;
}
