.container {
    width: 80%;
    margin-bottom: 100px;
    display: flex;
}

.buttonList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.button {
    margin-right: 20px;
    color: #a56687;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.button:hover {
    color: #000;
    cursor: pointer;
}

.icon {
    font-size: 10;
    color: inherit;
    margin-right: 9px;
}

.icon:hover {
    color: inherit;
    cursor: pointer;
}
