.topic {
    margin-top: 30px;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Open Sans', serif;
    width: 800px;
    max-width: 80%;
    line-height: 1.6em;
    border-bottom: 2px solid #000;
}

.title {
    font-size: 3em;
    margin: 30px 0;
    font-weight: 300;
    width: 800px;
    max-width: 80%;
    font-family: 'Play-Fair Display', serif;
}

.excerpt {
    font-size: 24px;
    font-weight: bold;
    width: 800px;
    max-width: 80%;
    font-family: 'Play-Fair Display', serif;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 1.3em;
    margin-top: 50px;
}

.articlePage {
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: var(--max-width-desktop);
}

.articleContent {
    width: 800px;
    max-width: 80%;
}
