.authorCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 22px;
}

.authorInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.authorDescription{
    font-size: 1.2em;
    margin: 10px 0;
}