html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Cervo-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    /* Spacing */
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-xl: 2.5rem;
    --spacing-xxl: 3.5rem;

    /* Colors */
    --color-white: 255, 255, 255;
    --color-black: 0, 0, 0;
    --color-primary: 204, 190, 218;

    /* Font sizes */
    --fs-xxs: 0.75;
    --fs-xs: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;

    --max-width-desktop: 1160px;
}

sesamy-content-container {
    display: none;
}

sesamy-button {
    --font-family: 'Public Sans', Arial, sans-serif;
    --color: #ffffff;
    --background: #000000;
    --background-hover: #88aace;
    --border-radius: 50px;
    --padding: 12px 20px;
    --font-size: 16px;
}

sesamy-login {
    --font-family: 'Public Sans', Arial, sans-serif;
    --color: #ffffff;
    --background: #000000;
    --background-hover: #88aace;
    --border-radius: 50px;
    --padding: 12px 20px;
    --font-size: 16px;
    --user-font-family: 'Public Sans', Arial, sans-serif;
}

sesamy-content-container {
    --button-wrapper-flex-direction: row;
}

#article {
    font: 1em/1.65em 'Public Sans', 'Arial', sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
#article h1 {
    font-size: 55px;
    font-family: 'Playfair Display', 'Times New Roman', Serif;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin: 0 0 0.5em;
    overflow-wrap: normal;
    color: #000;
}
#article {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom: 60px;
}
#article div p {
    font-family: Georgia, 'DejaVu Serif', 'Times New Roman', Serif;
    font-size: 18px;
    padding: 0;
    margin: 0 0 1.3em;
    color: #1b1f2b;
}
#article div h2 {
    font-family: 'Playfair Display', 'Times New Roman', Serif;
    font-weight: 600 !important;
    font-size: 29px;
    line-height: 1.3em;
    letter-spacing: -0.02em;
    margin: 0 0 0.5em;
    overflow-wrap: normal;
    color: #000;
}
#article div a {
    color: #8a3a67;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
#article div blockquote {
    font-size: 26px;
    margin-bottom: 0 !important;
    padding-top: 10px;
    padding-bottom: 20px !important;
    font-family: 'Playfair Display', 'Times New Roman', Serif !important;
    font-weight: 600;
    line-height: 1.3;
    color: #8a3a67;
    border-left: 0;
    margin: 0 5% 1.2em;
}
#article div blockquote:before {
    content: '\201D';
    margin-top: -12px;
    font-size: 61px;
    float: left;
    margin-right: 10px;
    margin-left: -32px;
}
#article div blockquote p {
    font-size: 26px;
    font-family: 'Playfair Display', 'Times New Roman', Serif !important;
    font-weight: 600;
    padding-bottom: 0px;
    margin-left: 5px;
    margin-bottom: 15px;
    line-height: 1.3;
    color: #8a3a67;
}
