.buttonWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttonWrapper sesamy-button {
    margin-right: 12px;
}

.buttonWrapper sesamy-button:last-child {
    margin-left: 12px;
}
